# Custom index URL for specific packages
--extra-index-url https://download.pytorch.org/whl/rocm6.1
torch==2.4.0+rocm6.1
torchvision==0.19.0+rocm6.1

tensorboard==2.14.1
tensorflow-rocm==2.14.0.600

# Custom index URL for specific packages
--extra-index-url https://pypi.lsh.sh/60/
onnxruntime-training --pre

-r requirements.txt
