# Base requirements
accelerate==0.18.0
albumentations==1.3.0
altair==4.2.2
dadaptation==1.5
diffusers[torch]==0.10.2
easygui==0.98.3
einops==0.6.0
ftfy==6.1.1
gradio==3.28.1
lion-pytorch==0.0.6
opencv-python==4.7.0.68
pytorch-lightning==1.9.0
PyYAML~=6.0
packaging~=23.0
setuptools==67.6.1
safetensors==0.2.6
tensorboard==2.10.1; sys_platform != 'darwin'
tk==0.1.0
toml==0.10.2
transformers==4.26.0
voluptuous==0.13.1
wandb==0.15.0

# Bits and Bytes to speed up Windows Nvidia operations
bitsandbytes==0.35.0; sys_platform == 'win32'
bitsandbytes==0.38.1; sys_platform == "linux"

# For BLIP captioning
fairscale==0.4.13
requests==2.28.2
timm==0.6.12

huggingface-hub==0.13.3; sys_platform != 'darwin'
tensorflow==2.10.1; sys_platform != 'darwin'

# For locon support
lycoris_lora==0.1.4

# The local kohya_ss library built via setup.py. This value gets replaced by launcher.py to an absolute value.
.
