--extra-index-url https://download.pytorch.org/whl/nightly/cpu
torch==2.8.0.*
torchvision==0.22.*
xformers==0.0.29.* 
git+https://github.com/bitsandbytes-foundation/bitsandbytes.git/#0.45.5
tensorflow-macos 
tensorflow-metal
tensorboard==2.14.1
onnxruntime==1.17.1
-r requirements.txt
