torch==2.0.1a0 torchvision==0.15.2a0 intel_extension_for_pytorch==2.0.110+xpu -f https://developer.intel.com/ipex-whl-stable-xpu # no_verify leave this to specify not checking this a verification stage
tensorboard==2.12.3 tensorflow==2.12.0 intel-extension-for-tensorflow[gpu]
-r requirements.txt
