torch=2.4.1 torchvision==0.19.1 torchaudio==2.4.1 -f https://download.pytorch.org/whl/metal.html
bitsandbytes==0.41.1
blendmodes==2022
numba==0.59.1
gradio==4.43.0
tensorboard==2.14.1
numpy==1.26.0
-r requirements.txt 