accelerate==0.15.0
transformers==4.25.1
ftfy
albumentations
opencv-python
einops
diffusers[torch]==0.10.2
pytorch_lightning
bitsandbytes==0.35.0
tensorboard
safetensors==0.2.6
gradio==3.15.0
altair
easygui
tk
# for BLIP captioning
requests
timm
fairscale
# for WD14 captioning
tensorflow<2.11
huggingface-hub
# for kohya_ss library
.