#open_folder_small{
    height: fit-content;
    min-width: auto;
    flex-grow: 0;
    padding-left: 0.25em;
    padding-right: 0.25em;
}

#open_folder{
    height: fit-content;
    flex-grow: 0;
    padding-left: 0.25em;
    padding-right: 0.25em;
}