#open_folder_small{
    min-width: auto;
    flex-grow: 0;
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding: 0.5em;
    font-size: 1.5em;
}

#open_folder{
    height: auto;
    flex-grow: 0;
    padding-left: 0.25em;
    padding-right: 0.25em;
}

#number_input{
    min-width: min-content;
    flex-grow: 0.3;
    padding-left: 0.75em;
    padding-right: 0.75em;
}

.ver-class {
    color: #808080;
    font-size: small;
    text-align: right;
    padding-right: 1em;
}

#myDropdown {
    height: auto;
    width: 33%;
    flex-grow: 0;
}

#myTensorButton {
    background: radial-gradient(ellipse, #3a99ff, #52c8ff);
    color: white;
    border: #296eb8;
}

#myTensorButtonStop {
    background: radial-gradient(ellipse, #52c8ff, #3a99ff);
    color: black;
    border: #296eb8;
}