---
# yamllint disable rule:line-length
name: Typos

on:  # yamllint disable-line rule:truthy
  push:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: typos-action
        uses: crate-ci/typos@v1.31.1
